<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %> 

<body>
    <header class="w-full flex align-center px-10 pt-10 pb-8 border-[3px]">
        <%- include('./partials/navbar.ejs')  %>     
    </header>
    <main>
        <section class="w-full flex flex-col gap-8 p-10">
            <h2 class="text-[2rem] font-[600] pl-2">All Blogs</h2>
            <section class="flex flex-col gap-6 p-8 h-[65vh]">
                <% for(let blogs of blogData){ %>
                    <div class="flex flex-col gap-2">
                        <h3 class="text-[1.5rem] font-[500]">
                            <%= blogs.title%>
                        </h3>
                        <p class="text-[1rem]">
                            <%= blogs.content%>
                        </p>
                    </div>
                <% } %>
                <% if(blogData.length <= 0){ %>
                    <h3 class="text-[1.5rem]">There Is No Blogs</h3>
                <% } %>
            </section>
        </section>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>

</html>